.header-container {  
  float: left;  
  height: 50px;  
  clear: none;  
  width: 100%;  
  position: fixed;  
  top: 0px;  
  left: 0%;  
  display: block;  
  z-index: 10;  
  bottom: auto;  
  -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;  -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
  box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;  
  background-color: rgb(255, 255, 255);
}

/* class: header-left-container used 1 times */
.header-left-container {  
  float: left;  
  height: 100%;  
  clear: none;  
  width: 80px;  
  min-height: 0px;  
  margin: 0px 0px 0px 0px;  
  padding: 10px 10px 10px 10px;
}

/* class: header-left-btn-close used 1 times */
.header-left-btn-close {  
  float: none;  
  height: 30px;  
  font-size: 1em;  
  clear: none;  
  width: 60px;  
  -webkit-box-shadow: none;  -webkit-box-shadow: none;
  box-shadow: none;  
  border-top-style: none;  
  border-right-style: none;  
  border-bottom-style: none;  
  border-left-style: none;  
  border-top-width: 0px;  
  border-right-width: 0px;  
  border-bottom-width: 0px;  
  border-left-width: 0px;  
  background-color: rgb(255, 255, 255);  
  margin: 0px 0px 0px 0px;  
  padding: 0px 0px 0px 0px;
}

/* class: footer-container used 1 times */
.footer-container {  
  float: left;  
  height: 50px;  
  clear: both;  
  width: 100%;  
  min-height: 50px;  
  position: fixed;  
  top: auto;  
  left: 0%;  
  bottom: 0px;  
  right: auto;  
  min-width: 0px;  
  -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 5px 0px;  -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 5px 0px;
  box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 5px 0px;  
  display: block;  
  z-index: 10;  
  background-color: rgb(255, 255, 255);
}

/* class: footer-left-btn-back used 1 times */
.footer-left-btn-back {  
  float: left;  
  height: 100%;  
  font-size: 1em;  
  clear: none;  
  width: 50px;  
  min-height: 0px;  
  border-top-width: 0px;  
  border-right-width: 0px;  
  border-bottom-width: 0px;  
  border-left-width: 0px;  
  -webkit-box-shadow: rgba(0, 0, 0, 0.247059) 0px 2px 5px 0px;  -webkit-box-shadow: rgba(0, 0, 0, 0.247059) 0px 2px 5px 0px;
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 2px 5px 0px;  
  border-right-color: rgb(170, 170, 170);  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;  
  background-color: rgb(255, 255, 255);  
  margin: 0px 0px 0px 0px;
}

/* class: footer-input-group used 1 times */
.footer-input-group {  
  float: left;  
  height: auto;  
  display: block;  
  text-align: left;  
  clear: none;  
  width: 65%;  
  min-height: auto;  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;  
  background-color: rgb(255, 255, 255);  
  margin: 0px 0px 0px 0px;
}

/* class: footer-input-text used 1 times */
.footer-input-text {  
  float: none;  
  font-size: 1em;  
  width: 0px;  
  height: 0px;  
  text-align: left;  
  font-weight: normal;  
  line-height: 1em;  
  display: block;  
  min-width: 0px;  
  min-height: 0px;  
  padding: 0px 0px 0px 0px;
}

/* class: footer-input used 1 times */
.footer-input {  
  float: none;  
  height: 50px;  
  font-size: 0.8em;  
  display: block;  
  width: 100%;  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;  
  color: rgb(170, 170, 170);  
  min-width: 0px;  
  border-top-width: 0px;  
  border-right-width: 0px;  
  border-bottom-width: 0px;  
  border-left-width: 1px;  
  border-bottom-color: rgb(102, 102, 102);  
  border-bottom-style: solid;  
  clear: none;  
  border-left-color: rgb(140, 140, 140);  
  border-left-style: solid;  
  background-color: rgb(255, 255, 255);  
  margin: 0px 0px 0px 0px;  
  padding: 10px 10px 10px 10px;
}

/* class: footer-right-btn-create used 1 times */
.footer-right-btn-create {  
  float: right;  
  height: 100%;  
  font-size: 1em;  
  clear: none;  
  width: 60px;  
  min-height: 0px;  
  display: block;  
  border-top-width: 0px;  
  border-right-width: 0px;  
  border-bottom-width: 0px;  
  border-left-width: 0px;  
  -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 2px 2px 5px 0px;  -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 2px 2px 5px 0px;
  box-shadow: rgba(0, 0, 0, 0.258824) 2px 2px 5px 0px;  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;  
  background-color: rgb(255, 255, 255);  
  margin: 0px 0px 0px 0px;
}

/* class: footer-right-btn-create used 1 times */
.footer-right-btn-send {  
  float: right;  
  height: 100%;  
  font-size: 0.8em;  
  clear: none;  
  width: 60px;  
  min-height: 0px;  
  display: block;  
  border-top-width: 0px;  
  border-right-width: 0px;  
  border-bottom-width: 0px;  
  border-left-width: 0px;  
  -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 2px 2px 5px 0px;  -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 2px 2px 5px 0px;
  box-shadow: rgba(0, 0, 0, 0.258824) 2px 2px 5px 0px;  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;  
  background-color: rgb(255, 255, 255);  
  margin: 0px 0px 0px 0px;
}


/* class: card used 1 times */
.card-chat { 
  float: left;  
  height: auto;  
  clear: none;  
  width: 100%;  
  display: block;  
  margin: 0px 0px 0px 0px;  
  padding: 10px 0px 10px 0px;
}

/* class: card-chat-user-photo used 1 times */
.card-chat-user-photo {  
  float: left;  
  width: 30px;  
  max-width: 100%;  
  height: 30px;  
  clear: none;  
  color: rgb(0, 0, 0);  
  display: block;  
  margin: 5px 5px 5px 5px;
}

/* class: card-chat-msg-container used 1 times */
.card-chat-msg-container {  
  float: left;  
  height: auto;  
  clear: none;  
  width: 83%;  
  min-height: 0px;  
  display: block;  
  margin: 0px 0px 0px 0px;  
  padding: 10px 0px 10px 10px;
}

/* class: card-chat-name-text used 1 times */
.card-chat-name-text {  
  float: left;  
  font-size: 0.8em;  
  width: auto;  
  height: auto;  
  text-align: left;  
  font-weight: 600;  
  line-height: 1em;  
  clear: none;  
  min-height: 0px;  
  display: block;  
  margin: 0px 0px 0px 0px;
}

/* class: card-chat-date-text used 1 times */
.card-chat-date-text {  
  float: left;  
  font-size: 0.8em;  
  width: auto;  
  height: auto;  
  text-align: left;  
  font-weight: 400;  
  line-height: 1em;  
  clear: none;  
  min-height: 0px;  
  display: block;  
  color: rgb(150, 150, 150);  
  margin: 0px 0px 0px 15px;
}

/* class: card-chat-message-text used 1 times */
.card-chat-message-text {  
  float: left;  
  font-size: 0.9em;  
  width: 100.003805%;  
  height: auto;  
  text-align: left;  
  font-weight: 400;  
  line-height: 1.5em;  
  clear: both;  
  min-height: 0px;  
  display: block;  
  padding-bottom: 12px;  
  margin: 15px 0px 0px 0px;
}

/* class: card-chat-line used 1 times */
.card-chat-line {  
  float: left;  
  height: 1px;  
  clear: both;  
  width: 100%;  
  min-width: 0px;  
  border-top-style: dashed;  
  border-top-width: 1px;  
  border-top-color: rgb(200, 200, 200);  
  display: block;  
  margin: 0px 0px 0px 0px;
}

