/*
****** Colors extracted from Reflow ******
// hex value RGB value         Closest color   Used      isBackground?
//---------------------------------------------------------------------
// #ffffff   rgb(255,255,255)  white            8 times  background
// #ebeced   rgb(235,236,237)  *lavender        5 times  background
// #000000   rgb(0,0,0)        black            3 times  
// #aaaaaa   rgb(170,170,170)  *darkgray        2 times  

// * means that color name is the closest match
//---------------------------------------------------------------------

****** Fonts extracted from Reflow ******
//---------------------------------------------------------------------

****** Gradients extracted from Reflow ******
*/

/****** Breakpoints extracted from Reflow ******/

/* class: header-container used 1 times */
.header-container {  
  float: left;  
  height: 50px;  
  clear: none;  
  width: 100%;  
  position: fixed;  
  top: 1px;  
  left: 0%;  
  display: block;  
  z-index: 10;  
  bottom: auto;  
  -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;  -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
  box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;  
  background-color: rgb(255, 255, 255);
}

/* class: footer-container used 1 times */
.footer-container {  
  float: left;  
  height: 50px;  
  clear: both;  
  width: 100%;  
  min-height: 50px;  
  position: fixed;  
  top: auto;  
  left: 0%;  
  bottom: 0px;  
  right: auto;  
  min-width: 0px;  
  -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 5px 0px;  -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 5px 0px;
  box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 5px 0px;  
  display: block;  
  background-color: rgb(255, 255, 255);  
  z-index: 10;
}

/* class: panel used 2 times */
.panel {  
  float: none;  
  clear: none;
  height: auto;
  width: 100%;  
  margin: 0px 0px 0px 0px;  
  padding: 10px 0px 10px 0px;
}

.panel-users {  
  float: none;  
  clear: none;
  height: auto;
  width: 100%;  
  margin: 0px 0px 0px 0px;  
  padding: 10px 0px 50px 0px;
}

.card-checked {
  background-color: rgb(235, 236, 237);
}

/* class: create-room-user-photo used 3 times */
.create-room-user-photo {  
  float: left;  
  width: 50px;  
  max-width: 100%;  
  height: 50px;  
  clear: none;  
  color: rgb(0, 0, 0);  
  margin: 5px 5px 5px 5px;
}

/* class: create-room-join-members-panel used 1 times */
.create-room-join-members-panel {  
  float: none;  
  height: auto;  
  clear: none;  
  width: 100%;  
  display: block;  
  border-bottom-width: 1px;  
  border-bottom-color: rgb(170, 170, 170);  
  border-bottom-style: solid;  
  margin: 0px 0px 0px 0px;  
  padding: 0px 2% 0px 2%;
}

/* class: create-room-name-text used 2 times */
.create-room-name-text {  
  float: left;  
  font-size: 1em;  
  width: auto;  
  height: 50px;  
  text-align: left;  
  font-weight: 600;  
  line-height: 1em;  
  clear: none;  
  min-height: 0px;  
  display: block;  
  min-width: 0px;  
  margin: 5px 5px 5px 5px;  
  padding: 17px 10px 10px 10px;
}

/* class: header-left-btn-close used 1 times */
.header-left-btn-close {  
  float: none;  
  height: 30px;  
  font-size: 1em;  
  clear: none;  
  width: 60px;  
  -webkit-box-shadow: none;  -webkit-box-shadow: none;
  box-shadow: none;  
  background-color: rgb(255, 255, 255);  
  border-top-style: none;  
  border-right-style: none;  
  border-bottom-style: none;  
  border-left-style: none;  
  border-top-width: 0px;  
  border-right-width: 0px;  
  border-bottom-width: 0px;  
  border-left-width: 0px;  
  margin: 0px 0px 0px 0px;  
  padding: 0px 0px 0px 0px;
}

/* class: header-left-container used 1 times */
.header-left-container {  
  float: left;  
  height: 100%;  
  clear: none;  
  width: 80px;  
  min-height: 0px;  
  margin: 0px 0px 0px 0px;  
  padding: 10px 10px 10px 10px;
}

/* class: create-room-input-group used 1 times */
.create-room-input-group {  
  float: none;  
  height: auto;  
  display: block;  
  text-align: left;  
  clear: none;  
  width: 100%;  
  min-height: auto;  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;  
  background-color: rgb(235, 236, 237);  
  margin: 0px 0px 0px 0px;
}

/* class: create-room-input-text used 1 times */
.create-room-input-text {  
  float: none;  
  font-size: 1em;  
  width: 0px;  
  height: 0px;  
  text-align: left;  
  font-weight: normal;  
  line-height: 1em;  
  display: block;  
  min-width: 0px;  
  min-height: 0px;  
  padding: 0px 0px 0px 0px;
}

/* class: create-room-input used 1 times */
.create-room-input {  
  float: none;  
  height: 50px;  
  font-size: 0.8em;  
  display: block;  
  width: 100%;  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;  
  color: rgb(170, 170, 170);  
  min-width: 0px;  
  border-top-width: 0px;  
  border-right-width: 0px;  
  border-bottom-width: 1px;  
  border-left-width: 0px;  
  border-bottom-color: rgb(102, 102, 102);  
  border-bottom-style: solid;  
  margin-top: 0px;  
  margin-left: auto;  
  clear: none;  
  background-color: rgb(235, 236, 237);  
  margin-right: auto;  
  padding: 10px 10px 10px 10px;
}

/* class: create-room-join-members-card used 1 times */
.create-room-join-members-card {  
  float: none;  
  height: 70px;  
  clear: none;  
  width: 100%;  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;  
  min-width: 0px;  
  display: block;  
  background-color: rgb(235, 236, 237);  
  margin: 0px auto 0px auto;  
  padding: 5px 0px 5px 0px;
}

/* class: footer-left-btn-back used 1 times */
.footer-left-btn-back {  
  float: left;  
  height: 100%;  
  font-size: 1em;  
  clear: none;  
  width: 50px;  
  min-height: 0px;  
  border-top-width: 0px;  
  border-right-width: 0px;  
  border-bottom-width: 0px;  
  border-left-width: 0px;  
  background-color: rgb(255, 255, 255);  
  -webkit-box-shadow: rgba(0, 0, 0, 0.247059) 0px 2px 5px 0px;  -webkit-box-shadow: rgba(0, 0, 0, 0.247059) 0px 2px 5px 0px;
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 2px 5px 0px;  
  border-right-color: rgb(170, 170, 170);  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;  
  margin: 0px 0px 0px 0px;
}

/* class: footer-right-btn-create used 1 times */
.footer-right-btn-create {  
  float: right;  
  height: 100%;  
  font-size: 1.5em;  
  clear: none;  
  width: 60px;  
  min-height: 0px;  
  display: block;  
  background-color: rgb(255, 255, 255);  
  border-top-width: 0px;  
  border-right-width: 0px;  
  border-bottom-width: 0px;  
  border-left-width: 0px;  
  -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 2px 2px 5px 0px;  -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 2px 2px 5px 0px;
  box-shadow: rgba(0, 0, 0, 0.258824) 2px 2px 5px 0px;  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;  
  margin: 0px 0px 0px 0px;
}

/* class: footer-input-group used 1 times */
.footer-input-group {  
  float: left;  
  height: auto;  
  display: block;  
  text-align: left;  
  clear: none;  
  width: 65%;  
  min-height: auto;  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;  
  background-color: rgb(255, 255, 255);  
  margin: 0px 0px 0px 0px;
}

/* class: footer-input-text used 1 times */
.footer-input-text {  
  float: none;  
  font-size: 1em;  
  width: 0px;  
  height: 0px;  
  text-align: left;  
  font-weight: normal;  
  line-height: 1em;  
  display: block;  
  min-width: 0px;  
  min-height: 0px;  
  padding: 0px 0px 0px 0px;
}

/* class: footer-input used 1 times */
.footer-input {  
  float: none;  
  height: 50px;  
  font-size: 0.8em;  
  display: block;  
  width: 100%;  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;  
  color: rgb(170, 170, 170);  
  min-width: 0px;  
  border-top-width: 0px;  
  border-right-width: 0px;  
  border-bottom-width: 0px;  
  border-left-width: 1px;  
  border-bottom-color: rgb(102, 102, 102);  
  border-bottom-style: solid;  
  clear: none;  
  background-color: rgb(255, 255, 255);  
  border-left-color: rgb(140, 140, 140);  
  border-left-style: solid;  
  margin: 0px 0px 0px 0px;  
  padding: 10px 10px 10px 10px;
}

